{% extends 'tienda/signbase.html' %}

{% block error %}
{% if error_message %}
    <div class="alert alert-primary col-3" role="alert">
        {{ error_message }}
      </div>
{% endif %}
{% endblock %}


{% block body %}
<h1 class="text-center login-container">Inicio de Sesión</h1>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3 login-container">
        <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 login-container">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password">
        <br>
        <div id="emailHelp" class="login-color">Nunca revelaremos tu información a nadie.</div>
        <br>
    </div>
    <div class="mb-3 form-check">
    </div>
    <button type="submit" class="btn-login" data-bs-toggle="modal" data-bs-target="#exampleModal">Iniciar Sesión</button>
    <button type="button" class="btn-login" onclick="register()">Registrarse</button>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <button type="button" class="btn-login" onclick="invitado()">Ahora no</button>
    <button type="button" class="btn-login" onclick="redirectionWsp()">¿Olvidó su contraseña?</button>
</form>
{% endblock %}
