{% extends 'tienda/signbase.html' %}


{% block body %}

<div class="mb-3 login-container">
  <h1 class="text-center login-container">Registro de usuario</h1>
</div>
  <form method="post" action="{% url 'registro' %}">
    {% csrf_token %}
    <div class="mb-3 login-container">
      <label for="first_name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="mb-3 login-container">
      <label for="last_name" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <div class="mb-3 login-container">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3 login-container">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3 login-container">   
      <label for="username" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
      <button type="submit" class="btn-login">Registrar</button>
  </form>

{% endblock %}