{% extends 'layouts/app.html' %}
{% block contenido %}
<main>
    <div class="background-container">
        <img class="logo-position" src="img/koiDinastyLogo.PNG" alt="" width="450px">
        <div class="login-card-container login-glass-effect">
          <h1 class="text-center login-container">Inicio de Sesión</h1>
          <form>
            <div class="mb-3 login-container">
              <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 login-container">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="contraseña">
              <br>
              <div id="emailHelp" class="form-text login-color">Nunca revelaremos tu información a nadie. (profe puede
                inciar sesión con "admin" y "0000" o como invitado ;)</div>
            </div>
            <div class="mb-3 form-check">
            </div>
            <button type="button" class="btn-login" onclick="principal()">Iniciar Sesión</button>
            <button type="button" class="btn-login" onclick="register()">Registrarse</button>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <button type="button" class="btn-login btn-invitado" onclick="principalinvitado()">Entrar como invitado</button>
            <button type="button" class="btn-login" onclick="redirectionWsp()">¿Olvidó su contraseña?</button>
          </form>
        </div>
      </div>
</main>
{% endblock contenido %}